* {
	background-color: #17171d;
	color: #FFF;
	font-family: "Roboto", sans-serif;
}

body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	vertical-align: center;
	flex-direction: column;
	gap: 24px;
}

button {
	background-color: #a1e4ff;
	color: #17171d;
	border: none;
	font-weight: bold;
	border-radius: 5px;
	font-size: 1em;
	padding: 10px 20px;
	cursor: pointer;
	letter-spacing: 0.5px;
}

button:focus, button:hover {
	transform: scale(1.075);
	transition: all 100ms ease-in-out;
}

#title {
	font-size: 2rem;
}

#notice {
	background-color: #27373D;
	padding: 10px;
}

#webcam-container {
	margin-top: 16px;
}

#label-container {
	margin-top: -20px;
}