* {
	background-color: #17171d;
	color: #FFF;
	font-family: "Roboto", sans-serif;
}

body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	vertical-align: center;
	flex-direction: column;
	gap: 24px;
}

button {
	background-color: #a1e4ff;
	color: #17171d;
	border: none;
	font-weight: bold;
	border-radius: 6px;
	font-size: 1em;
	padding: 10px 20px;
	cursor: pointer;
	letter-spacing: 0.009em;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.125);
}

button:focus, button:hover {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.0625), 0 8px 12px rgba(0, 0, 0, 0.125);
	transform: scale(1.0625);
	transition: transform .125s ease-in-out,box-shadow .125s ease-in-out;
}

#title {
	font-size: 2rem;
}

#notice {
	background-color: #27373D;
	padding: 10px;
}

#webcam-container {
	margin-top: 16px;
}

#label-container {
	margin-top: -20px;
}